.product_card {
    border: 1px solid black;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .product_card img {
    width: 150px;
    height: 200px;
    object-fit: contain;
  }