.product_descr{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100px;
    margin: 40px auto;
    gap: 40px;
}

.product_descr img{
    width: 280px;
    height: 280px;
    object-fit: contain;
}

.info_block{
    width: 400px;
}

.title{
    font-weight: 700;
    font-size: 35px;
}

.descr{
    font-size: 20px;
    margin: 15px 0 35px 0;
}

.price {
    font-size: 20px;
}

.price span {
    font-weight: 700;
}